body {
    font-family: "Comic Sans MS";
    background-image: url("../images/logofinal.jpg");
    background-size: cover;
    background-attachment: fixed;
   }
ul {
  list-style: none;
  margin: 0 0px;
  display: flex;
  justify-content: space-around;
  
 
}

li {
    border: 5px solid black;
    background-color: white;
}

li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-weight:900;
}

li a:hover {
  background-color: black;
}